body {
	background-color: silver;
}
.nav_bar {
	list-style: none;
	width: 100%;
	overflow: hidden;
	background-color: #1A1A1A;
}
a {
	display: inline;
	color: white;
	padding: 30px;
	font-size: 30px;
}
nav a:hover {
	background-color: grey;
}
.login {
	float: right;
}
.row {
	display: flex;
}  
.column {
	flex: 16.66%;
	padding: 5px;
}
.header {
	background-color: #1A1A1A;
}
nav {
	text-align: center;
}
.footer {
	bottom: 0;
	position: fixed;
}